
  /* Background colors */
  :root {
  --bg-main: hsl(222, 26%, 31%);
  --bg-keypad: hsl(223, 31%, 20%);
  --bg-screen: hsl(224, 36%, 15%);

  --bg-key-1: hsl(225, 21%, 49%);
  --bg-key-2: hsl(30, 25%, 89%);
  --bg-key-3: hsl(6, 63%, 50%);
  --bg-key-1-shadow: hsl(224, 28%, 35%);
  --bg-key-2-shadow: hsl(6, 70%, 34%);
  --bg-key-3-shadow: hsl(28, 16%, 65%);

  /* Text colors */
  --text-dark: hsl(221, 14%, 31%);
  --text-light: hsl(0, 0%, 100%);
  --text: hsl(221, 14%, 31%);
  --text-components: hsl(0, 0%, 100%);
}

body.theme2 {
  --bg-main: hsl(0, 0%, 90%);
  --bg-keypad: hsl(0, 5%, 81%);
  --bg-screen: hsl(0, 0%, 93%);

  --bg-key-1: hsl(185, 42%, 37%);
  --bg-key-2: hsl(45, 7%, 89%);
  --bg-key-3: hsl(25, 98%, 40%);
  --bg-key-1-shadow: hsl(185, 58%, 25%);
  --bg-key-2-shadow:  hsl(25, 99%, 27%);
  --bg-key-3-shadow: hsl(35, 11%, 61%);

  --text-dark: hsl(60, 10%, 19%);
  --text-light: hsl(0, 0%, 100%);
  --text: hsl(221, 14%, 31%);
  --text-components: hsl(60, 10%, 19%);
}

body.theme3 {
  --bg-main: hsl(268, 75%, 9%);
  --bg-keypad: hsl(268, 71%, 12%);
  --bg-screen: var(--bg-keypad);

  --bg-key-1: hsl(281, 89%, 26%);
  --bg-key-2: hsl(268, 47%, 21%);;
  --bg-key-3: hsl(176, 100%, 44%);
  --bg-key-1-shadow: hsl(285, 91%, 52%);
  --bg-key-2-shadow:  hsl(177, 92%, 70%);
  --bg-key-3-shadow: hsl(290, 70%, 36%);

  --text-dark: hsl(198, 20%, 13%);
  --text-light: hsl(52, 100%, 62%);
  --text-white: hsl(0, 0%, 100%);
  --text: hsl(52, 100%, 62%);
  --text-components: hsl(52, 100%, 62%);
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-main)
}

header {
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;
}

header ul {
    list-style-type: none;
    /* margin: auto 0 0 0;
    padding: auto 0 0 0 ; */
}

header ul li {
    display: inline;
    /* margin: 0; */
    width: 10px;
    
  }

  header h1 {
    color: var(--text-components);
    font-size: 2rem;
    margin-bottom: -8px;
  }
  
  .themes {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .theme-text {
    color: var(--text-components);
    font-size: 0.8rem;
    text-transform: uppercase;
    /* padding-top: 15%; */
    font-weight: bolder;
    margin-left: 10%;
    margin-right: -60%;
  }
  
  .theme-select {
    height: 10px;
    margin-bottom: 40px;
    /* margin-right: -55px; */
  }
  
  .theme-select-slider {
    width: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 25px;
    border-radius: 15px;
    float: right;
    background-color: var(--bg-screen);
    position: relative;

  }
  
  .theme-select-text {
    width: 55%;
    margin-left: 65px;
    font-size: 1rem;
    margin-bottom: 5%;
    color: var(--text-components);
    transition: all 0.5s ease;
  }

  .theme-select-text li {
    margin-right: 5px;
  }

  .theme-select-slider {
    cursor: pointer;
    background-color: var(--bg-keypad);
  }
  
  .theme-select-slider input[type='radio'] {
    cursor: pointer;
    height: 50%;
    width: 50px;
    margin-bottom: 5px;
    opacity: 0;

  }
  
  .theme-slider {
    background-color: var(--bg-key-3);
    width: 25%;
    height: 60%;
    border-radius: 100%;
    position: absolute;
    transition: all 0.5s ease;
  }
  
  #radio1:checked ~ .theme-slider {
    left: 10%;
  }
  
  #radio2:checked ~ .theme-slider {
    left: 35%;
  }
  
  #radio3:checked ~ .theme-slider {
    left: 60%;
  }

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-light);
    background-color: var(--bg-main);
}

.calculadora {
    width: 500px;
    height: 65%;
    margin: 10px auto;
    padding: 20px;
    border-radius: 5px;
    background-color: var(--bg-keypad);
}

.display {
   
    width: 500px;
    height: 100px;
    margin: 0 auto;
    padding: 15px;
    background-color: var(--bg-screen);
    color: var(--text-components);
    font: normal 4rem serif;
    overflow: hidden;
    border-radius: 5px;
    font-size: 2rem;
    font-family: 'Spartan', sans-serif;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.calculadora-botoes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    
}

.calculadora-botoes button {
    cursor: pointer;
    border-radius: 7px;
    padding: 7px 2px;
    font-family: 'Spartan', sans-serif;
    font-size: 1rem;
    font-weight: bolder;
    color: var(--text);
    background-color: var(--bg-key-2);
    width: 90px;
    height: 50px;
    border: none;
    box-shadow: 0 5px 0 var(--bg-key-3-shadow);
}

#operadorReset {
  grid-column: 1/3;
  width: 100%;
}

#operadorMultiplicar{
  text-indent: -9999px;
  line-height: 0;
}

#operadorMultiplicar::after{
  content: "x";
  text-indent: 0;
  display: block;
  line-height: initial;
}

#operadorReset, #deletar{
  background-color: var(--bg-key-1);
  box-shadow: 0 5px 0 var(--bg-key-1-shadow);
  color: var(--text-white);
}

#igual{
  background-color: var(--bg-key-3);
  box-shadow: 0 5px 0 var(--bg-key-2-shadow);
  color: var(--text-light);
  grid-column: 5/3;
  width: 94%;
}

@media(max-width: 671px){
  .container{
    width: 80%;
    margin: 0 auto;
  }

  header {
    width: 80%;
    display: flex;
    justify-content: space-between;
  }

  .theme-text{
    margin-right: -50%;
  }

  .display {
    width: 80%;
  }

  .calculadora{
   
    width: 80%;
  }

  .calculadora-botoes button{
    width: 90%;

  }
}